html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  color: black;
}

/* Header */
.header1 {
 background-color: #497B51;
 align-items: center;
 min-height: 74px;
 display: flex;
 justify-content: space-between;
 padding: 50px 30px 12px;
}

.searchbutton {
  padding: .5rem;
  border-radius: 1.5rem;
  margin: 1rem 0;
  border:#44559C;
  width: 18rem;
  color: #44559C;
}

.fa-cart-shopping {
  color: white;
  padding-right: 5rem;
  font-size: 2rem;
}

.header2 {
  background-color: #44559C;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  min-height: 48px;
 }

.logo img {
  width: 150%;
}

.logo {
  padding-right: 17rem;
}

.nav {
  margin: 0 auto;
}

.nav ul {
  display: flex;
  list-style: none;
  column-gap: 90px;
}

.nav a {
  text-size-adjust: 1rem;
  color: white;
  letter-spacing: 1px;
  text-decoration: none;
}

.nav a:hover {
  color: #DE4C31;
}

/* HOME */
.home {
  object-fit: cover;
  height: 9rem;
  width: 83%;
  margin-left: 6.75rem;
}

.essentail-collection {
  display: flex;
  margin: 0 auto;
}

.collectiontype {
  margin-left: 105px;
  margin-top: 1rem;
}

h4 {
  color:#DE4C31;
  font-weight: bold;
  font-size: 2rem;
}

h6 {
  font-size: 1.375rem;
  font-weight: 100;
}

.home-essential {
  background-color: #497B51;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 9.5rem;
  height: 15.688rem;
  clip-path: ellipse(70px 120px);
}

.essential {
  width: 72px;
}

.classicrock-p {
  text-align: center;
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
}

.grid-container {
  display: grid;
  justify-content: space-between;
  padding: 20px 20px 20px 20px;
  max-width: 960px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 5px;
}

.weekalbum {
  display: flex;
}

.bleededition {
  margin: 0 auto;
  text-align: center;
  padding: 2rem;
}

.albumofweek {
  text-align: center;
}

button {
  padding: .5rem;
  border-radius: 1.5rem;
  margin: 1rem 0;
  border: none;
  width: 40%;
}

button:hover {
  background: #497B51;
}

button:active {
  background: #44559C;
}

button:focus {
  background: #DE4C31;
  border: #497B51;
}

.week {
  margin-left: 6.75rem;
  object-fit: cover;
  width: 33.875rem;
  height: 11.938rem;
}

.viewpast {
  background: #DE4C31;
  color: white;
  padding: 1rem;
  margin: .313rem;
}

.monthlybox {
  background-color: #44559C;
  height: 15rem;
  position: relative;
  margin-bottom: 132px;
}

.monthrecords h4{
  color: white;
  padding: 2rem;
  padding-left: 6rem;
  margin: 0 auto;
}

.monthlygrid {
  display: grid;
  margin: 0 auto;
  justify-content: center;
  max-width: 960px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 35px;
}

h11 {
  font-size: 1.375rem;
  font-family: 'Poppins', sans-serif;
}

.signupform {
  position: relative;
  text-align: center;
  margin-top: 5.375rem;
}

.signpic {
  object-fit: cover;
  height: 11rem;
  width: 83%;
}

.signtype {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  height: 2rem;
  position: absolute;
  bottom: 125px;
  left: 164px;
}

.signtype h4{
  color: white;
  text-align: left;
}

input {
  padding: 0.938rem;
  padding-right: 10rem;
  margin: 2rem 0;
}

.subbutton {
  padding: 1rem;
  border-radius: 0;
  margin: 2rem 0;
  border: none;
  width: 13.322rem;
  background: #44559C;
  color: white;
}

/* SHOPPING */

.sidescolumns {
  display: grid;
  grid-template-columns: 635px 635px;
  column-gap: 5px;
  margin-top: 3rem;
}

/* LEFT */
.leftside {
  width: 95%;
}

.shopbuttons {
  position: absolute;
  display: flex;
  gap: 22.5rem;
  top: 95%;
}

.shoppingx {
  background-color:#DE4C31;
  color: #FFFFFF;
  clip-path: circle(50%);
  width: 59px;
  height: 59px;
  font-size: 2rem;
}

.shoppingcartbutton {
  background-color: #44559C;
  clip-path: circle(50%);
  width: 59px;
  height: 59px;
}

.carouselArrow {
  background-color: transparent;
  font-size: 4rem;
  color: #FFFFFF;
  position: absolute;
  top: 50%;
  gap: 23rem;
  cursor: pointer;
}

.previous {
  left: 22px;
}

.next {
  right: -90px;
}

.carouselArrow:hover{
  color: #44559C;
  background-color: transparent;
}

.carouselArrow:active{
  color: #497B51;
  background-color: transparent;
  border-radius: 0;
}

.carouselArrow:focus{
  color: #DE4C31;
  background-color: transparent;
}

.shoppingalubm {
  display: flex;
  flex: 0 auto;
}

.carousel {
  max-width: 980px;
  margin: 0 auto;
  max-height: 20rem;
  padding-left: 7rem;
  position: relative;
}

.slide {
  display: flex;
  flex: 0 0 30.438rem;
}

.tiles {
  max-width: 100%;
  display: flex;
  overflow: hidden;
}

.paginationDots {
  display: flex;
  justify-content: center;
  transform: translateY(20px);
}

.paginationDots li {
  display: inline-block;
  width: 0.75rem;
  height: 0.75rem;
  background-color: #44559C;
  border-radius: 0.625rem;
  margin: 0 5px;
  opacity: .4;
  cursor: pointer;
}

.paginationDots li.active {
  opacity: 1;
}

.trackheader {
  color: #DE4C31;
  font-size: 1.375rem;
  padding: 3rem 0rem 2% 7rem;
}

.trackgrid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 7rem;
  width: 38rem;
  font-size: 1.25rem;
}

.tracknames {
  list-style: decimal;
}

.tracktimes {
  list-style: none;
  text-align: right;
}

/* RIGHT */
.discoverheader {
  font-weight: bold;
  color: #44559C;
  font-size: 2.25rem;
}

.musicflex {
  display: flex;
}

.newmusicgrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 48rem;
}

.shoppingformats{
  width: 15rem;
  font-size: 1.2rem;
}

.purgatory {
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.purgatory h5{
  font-weight: 600;
  color: #DE4C31;
  font-size: 2rem;
}

.purgatoryright h3{
  font-weight: 600;
  font-size: 2.25rem;
  padding-left: 6rem;
}

.vinylbutton {
  background-color: #DE4C31;
  color: #FFFFFF;
  width: 215px;
  height: 105px;
  font-size: 1.25rem;
  padding: 2rem;
}

.grid-conditions {
  display: grid;
  grid-template-columns: 2px 200px 2px 200px 2px 200px;
  grid-template-rows: repeat(2, 50px);
  grid-auto-row: 40px;
  row-gap: 2rem;
}

.grid-conditions {
  color: #DE4C31;
}

fieldset {
  border: none;
}

.boxes {
  padding-bottom: 1rem;
  font-size: 1.5rem;
}

input[type=checkbox] {
  opacity: 0;
  }

input[type=checkbox]:checked + label {
  background-color: #fff;
  accent-color: #44559C;
  border: 2px solid #44559C;
  &::after {
    border: 2px solid #44559C;
  }
}

label {
  height: 100%;

}

input[type=checkbox]:disabled + label {
  border: 2px dashed #44559C;
}

.container {
  height: 4rem;
  width: 12rem;
  text-align: center;
}

.container:checked + label {
  background-color: #fff;
  border: 1px solid #ccc;
  &::after {
    border: 2px solid blue;
  }
}

.shoppingpar {
  margin-top: 3rem;
  font-size: 1.25rem;
  padding: 1rem;
}

.reviewheader{
  color: #497B51;
  margin-left: 3rem;
}

.shop-grid-container{
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   margin: 0 auto;
   display: grid;
   padding: 1rem 0rem 1rem 0rem;
   justify-content: center;
   max-width: 960px;
}

.reviewsbox {
  background-color: #497B51;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 12.5rem;
  height: 18rem;
  clip-path: ellipse(92px 133px);
}

.reviewsbox p{
  text-align: center;
  color: white;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

/* ABOUTUS */
.wish {
  object-fit: cover;
  height: 9rem;
  width: 83%;
}

.ourjounrey {
  font-weight: bold;
  color: #497B51;
  font-size: 2rem;
  text-align: center;
}

.timeline {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 2rem 10rem 2rem 10rem;
  align-items: center;
  row-gap: 1rem;
}

.timelinebox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.timehead {
  background-color: #DE4C31;
  width: 8.688rem;
  height: 8.9379rem;
  clip-path:circle(50%);
}

h5.timehead {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  font-size: 1.5rem;
}

.timelinetype {
  padding: 0 1rem 0 1rem;
  text-align: center;
}

.missiontype{
  text-align: center;
}

.missiontype p{
  text-align: left;
  padding: 2rem;
}

.ourmission {
  margin-left: 6.75rem;
}

.mission {
  display: flex;
}

.fa-user-group {
  color: #FFFFFF;
  font-size: 3rem;
}

.fa-face-smile {
  color: #FFFFFF;
  font-size: 3rem;
}

.factsbox h3{
  font-weight: 200;
  font-size: 2.25rem;
  color: white;
}

.factsbox p{
  color: white;
}

.factsbox {
  text-align: center;
  display: grid;
  justify-content: space-between;
  padding: 40px 120px 40px 120px;
  max-width: 1280px;
  grid-template-columns: 1fr 1fr;
  background-color: #497B51;
}

.aboutfacts {
  margin: 0 auto;
}

.vistheader {
  text-align: center;
  margin-top: 2rem;
}

.storebox {
  display: flex;
  gap: 5rem;
  padding: 2rem 8rem 0 14.563rem;
} 

.location {
  display: flex;
  gap: 2rem;
}

.location p{
  font-size: 1.25rem;
}

.fa-location-dot {
  color: #DE4C31;
  font-size: 4rem;
}

/* SELLING */

/* created as a box for the selling steps content */
.sellingsteps {
  background-color: #44559C;
  height: 23rem;
}

.sellingsteps h4{
  color: white;
  text-align: center;
  padding: 1rem 0rem 1rem 0rem;
}

.step-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.steps-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* the green circle behind each step number */
.steps {
  background-color: #497B51;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8.688rem;
  height: 8.9379rem;
  clip-path:circle(50%);
}

.steps-box h2 {
  font-size: 3.438rem;
  color: #FFFFFF;
}
/* p for selling steps, padding to keep it center in the coloumn */
.steptype p{
  text-align: center;
  padding: 1rem 5.5rem 1rem 5.5rem;
  color: #FFFFFF;
}
/* containing the image and p */
.sellingbox {
  display: flex;
  margin: 0rem 7rem 0rem 7rem;
}

.sellingbox p{
  padding: 3rem;
  font-size: 1.5rem;
}
/* container for quality check section, centering with padding */
.qualityflex {
 display: flex;
 padding: 2rem 8rem 2rem 7rem;
 gap: 8rem;
}
/* grid and center for quality images and p */
.qualitygrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  column-gap: 3rem;
}

.questionsbox h4{
  color: #497B51;
  text-align: center;
  margin-top: 2rem;
}
/* to center each box with the page */
.boxesquestions {
  text-align: center;
}

.accordion {
  background-color: #497B51;
  color: white;
}
/* to postion it with the image correctly */
.signup-type {
  position: absolute;
  bottom: 20px;
  left: 164px;
}

.signup-type h4 {
  color: #FFFFFF;
  padding-left: 7rem;
}
/* stylizing the signup button */
.signbutton {
  width: 150.234px;
  height: 44px;
  background-color:#44559C;
  color: #FFFFFF;
}

/* WISHLIST */

/* centering image and type */
.wishimagebox {
  position: relative;
  text-align: center;
}
/* postioning and styling header type correctly */
.wishimagebox h2{
  position: absolute;
  top: 51px;
  left: 224px;
  color: white;
  font-size: 3rem;
}
/* styled with dropdown and button like look */
.filterbutton {
  background-color: #DE4C31;
  color: #FFFFFF;
  margin: 2rem;
  margin-left: 7rem;
  width: 25%;
  height: 3.5rem;
  padding: 1rem;
  text-align: center;
  border-radius: 2rem;
}
/* for favorite albumns that are pinned */
.pinnedwishes-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0rem 7rem 3rem 7rem;
  column-gap: 4.688rem;
}

.fa-thumbtack {
  color: #DE4C31;
  font-size: 3rem;
  transform: rotate(318deg);
}

.pin1 {
  position: absolute;
  left: 7.5rem;
}

.pin2 {
  position: absolute;
  left: 31rem;
}

.pin3 {
  position: absolute;
  left: 55rem;
}

.cartbutton {
  background-color:#44559C;
  color: #FFFFFF;
  padding: 1.5rem;
  border-radius: 13.5rem;
  margin:  1rem 0;
  width: 60%;
  font-weight: 600;
  font-size: 1.2rem;
}

.albuminfo {
  margin-top: 1rem;
}

.albuminfo p{
  font-size: 1.15rem;
}
/* centering content with image */
.albums1 {
  text-align: center;
}
/* grid for wishlist regular content */
.albumgrid {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0rem 7rem 0rem 7rem;
  row-gap: 3rem;
  column-gap: 4.688rem;
}
/* stylizing album info and centering cart button */
.albums2 {
  display: grid;
  justify-content: center;
  text-align: center;
}

.fa-heart {
  color: #DE4C31;
  font-size: 2rem;
}

.heart1 {
  position: absolute;
  top: 75rem;
  left: 8rem;
}

.heart2 {
  position: absolute;
  top: 75rem;
  left: 32rem;
}

.heart3 {
  position: absolute;
  top: 75rem;
  left: 55rem;
}

.heart4 {
  position: absolute;
  top: 109rem;
  left: 8rem;
}

.heart5 {
  position: absolute;
  top: 109rem;
  left: 32rem;
}

.heart6 {
  position: absolute;
  top: 109rem;
  left: 55rem;
}

.instock {
  background-color: #497B51;
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
  width: 12%;
  position: absolute;
  margin-left: 9rem;
}

.instock p{
  color:#FFFFFF;
  padding-top: 1rem;
}

.bold {
  font-weight: bolder;
}

.nextbuttonbox {
  text-align: right;
}

.nextbutton {
  background-color: #DE4C31;
  color: #FFFFFF;
  width: 20%;
  padding: .75rem;
  margin-top: 3rem;
  margin-right: 8rem;
}

.fa-chevron-right {
  font-size: 2rems;
}

/* FOOTER */
footer {
  display: grid;
  font-family: 'Poppins', sans-serif;
  background-color: #44559C;
  color: white;
  padding: 0 10%;
  min-height: 302px;
  padding-top: 30px;
}

.footer-container {
  display: flex;
  column-gap: 15rem;
}

.footer-container2 {
  font-size: 0.625rem;
  text-align: center;
}

.footerseperate {
  padding-bottom: 1rem;
}

a {
  color: white;
  text-decoration: none;
}

footer ul {
  list-style-type: none;
}
